/* color palette */
:root {
    --light-gray: #E0E0E0;
    --medium-gray: #B0B0B0;
    --dark-blue: #003049;
    --light-blue: #BDE0FE;
    --text-dark: #000000;
    --white: #FFFFFF;
}

body {
    background-color: var(--white);
    color: var(--text-dark);
    font-family: Arial, sans-serif;
}

/* navigation bar */
.navbar {
    background-color: var(--dark-blue);
    padding: 10px 20px;
}
.navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

/* upload box */
.upload-box {
    border: 2px dashed var(--dark-blue);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--light-blue);
}

/* upload button */
.btn-primary {
    background-color: var(--light-gray);
    border: none;
    color: black;
}
.btn-primary:hover {
    background-color: var(--dark-blue);
    color: white;
}

/* loading circle */
.spinner-border {
    display: none;
}

/* prediction result */
#prediction-container {
    display: none;
}